section {
	padding: 3em;
}
h2 {
	display: inline-block;
	font-size: 2em;
}
.sectionTitle {
	padding: 0.4em;
	border-bottom: 1px solid #dfdfdf;
}
#makeWork {
	float: right;
	font-size: 1.4em;
	padding: 6px 14px;
	vertical-align: sub;
}
#workul{
	padding: 5px;
	line-height: 0;
}
.workli{
	border-left: 1px solid #aaa;
	margin: 5px;
	padding-left: 5px;
	font-size: 1.2em;
	line-height: 1.5em;
}
.workli > * {
	
}
.workli:hover {
	transition: all 0.15s ease-out;
	background-color: #ffeade;
	border-left: 4px solid salmon;
	color: white;
}
.workname{
	/*group name*/
	display: inline-block;
}
.workli a {
	color: black;
	display: block;
	text-decoration: none;
}
.workdesc{
	/*dislike*/
	display: block;
}
.workdislike {
	display: inline-block;
	margin-left: 0.5em;
	color: salmon;
}