section {
	padding: 3em;
}
h2 {
	padding: 0.2em;
	border-bottom: 1px solid #dfdfdf;
}
#workul{
	padding: 5px;
	line-height: 0;
}
.workli{
	border-left: 1px solid #aaa;
	margin: 5px;
	padding-left: 5px;
	font-size: 1.2em;
	line-height: 1.5em;
}
.workli > * {
	
}
.workli:hover {
	transition: all 0.1s ease-out;
	background-color: lightsalmon;
	color: white;
	
}
.workname{
	/*group name*/
	display: inline-block;
}
.workli a {
	color: black;
	display: block;
	text-decoration: none;
}
.workdesc{
	/*dislike*/
	display: block;
}
.workdislike {
	font-weight: 900;
	display: inline-block;
	margin-left: 0.5em;
	color: salmon;
}