header {
    height: 90px;
    min-width: 960px;
    background-color: lightsalmon;
    border-bottom: 3px solid darksalmon;
}
a {
    text-decoration: none;
    color: black;
}
button {
    margin: 1.2em;
}
.logotype a:hover {
    color: #444;
}
.logotype {
    font-family: 'wadecon';
    letter-spacing: -0.09em;
    font-size: 1.8em;
}
#logoBar {
    display: inline-block;
    font-size: 2.5em;
    line-height: 2em;
    text-indent: 0.25em;
}
#dashboard {
    float: right;
    top: 0;
    height: 50px;
    padding: 20px;
}
#dashboard:hover {
	transition: all 0.15s ease-out;
	background-color: darksalmon;
    opacity: 0.9;
	color: white;
}
#userpic {
    display: inline-block;
    background-color: white;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    margin-left: 0;
    vertical-align: middle;
}
#usernick {
    display: inline-block;
    font-size: 1.5em;
    text-indent: 0.2em;
    vertical-align: middle;
    color: white;
}
#userkarma {
    display: inline-block;
    color: salmon;
    background-color: white;
    border-radius: 3px; 
    vertical-align: sub;
    font-size: 1.5em;
    padding: 0.15em 0.4em;
    margin-left: 0.5em;
}