header {
    height: 90px;
    min-width: 960px;
    background-color: lightsalmon;
    border-bottom: 3px solid darksalmon;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #444;
}
.logotype {
    font-family: 'wadecon';
    letter-spacing: -0.09em;
    font-size: 1.8em;
}
#logoBar {
    display: inline-block;
    font-size: 2.5em;
    line-height: 2em;
    text-indent: 0.25em;
}
#dashboard {
    float: right;
    height: 90px;
    margin: 20px;
}
#userpic {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    margin-left: 0;
    vertical-align: middle;
}
#usernick {
    display: inline-block;
    font-size: 1.5em;
    text-indent: 0.2em;
    vertical-align: middle;
}
#userkarma {
    display: inline-block;
    font-size: 1.5em;
    color: white;
    vertical-align: middle;
}