header {
    height: 90px;
    min-width: 960px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #444;
}
.logotype {
    font-family: wadecon;
    letter-spacing: -0.09em;
    font-size: 1.8em;
}
#logoBar {
    margin: 0 auto;
    font-size: 2.5em;
    line-height: 2em;
    text-indent: 0.25em;
    background-color: lightsalmon;
    border-bottom: 3px solid darksalmon;
}