#post {
    float: right;
    margin-top: 1em;
    padding: 0 2em;
    height: 2.8em;
    line-height: 2em;
    font-size: 1em;
}
.maincon {
    padding: 3em 5em 5em;
}
input[type=text] {
    font-family: 'NotoSansThin';
    width: 643px;
    background-color: #fff;
    border-radius: 3px;
    color: #bbb;
    border: 1px solid #dfdfdf;
    font-size: 1.2em;
    padding: 0.2em;
    text-indent: 0.5em;
}
input[type=text]:focus {
    color: #555;
    border: 1px solid coral;
}
input[type=text]:hover {
    border: 1px solid coral;
}
#status {
    text-align: right;
    margin: 0.5em 0.5em 0;
    font-size: 1.5em;
}
.field {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;
}
section {
    width: inherit;
}
.tag {
    display: inline-block;
    font-size: 1.2em;
    line-height: 2em;
    width: 120px;
    padding: 0 10px;
    float: left;
}
.editor-wrapper {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    margin-left: 140px;
    padding: 10px;
    width: 630px;
    height: 530px;
}
.editor-wrapper:hover {
    border: 1px solid coral;
}
