article {
	margin: 1em;
	padding: 1.5em;
	background-color: #fff;
	border-radius: 5px;
	border-bottom: 3px solid #ddd;
}
h1 {
    font-size: 2em;
    display: inline-block;
}
h3 {
	font-size: 1.9em;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 0.2em;
}
.md {
	font-size: 0.8em;
}
#buttons {
    padding-left: 1em;
    display: inline-block;
    vertical-align: bottom;
}
button {
    font-size: 1.1em;
    margin: 3px;
	padding: 0.15em 0.5em;
}
#workhead {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #dfdfdf;
}