body
{
        background-color : #3a3a3a;
        overflow : hidden;
}
.main
{
        position :  relative;
        text-align : center;
        width : 320px;
        height : 450px;
        overflow: hidden;
        margin : 600px;
        margin-top : 150px;
}
.img
{
        position : relative;
        left : -340px;
        top : -60px;
}
.Miku
{
        position : absolute;
        bottom : -10px;
        left : 100px;
}
