<!DOCTYPE html>
<header>
	<style>
		<% include ../style/header.css %>
	</style>
	<div id="logoBar">
		<div class="logotype maxWrapper"><a href="/">와동개발자협동조합</a></div>
		<div id='notice'><img src="/images/n2.png" alt=""></div>
		<div id='user'>
			<% if ( user != null ) { %>
			<a href="/user/<%=user.nickname%>"><img src="/images/user.png" alt=""></a>
			<% } %>
		</div>
	</div>
</header>