<meta charset="UTF-8">
<meta name="theme-color" content="#FA8072">
<title><%# = pageTitle %></title>
<script src="/js/socket.io-1.3.5.js"></script>
<script src="/js/jquery-2.1.4.min.js"></script>
<% if(isMember) { %>
    <script>
        var socket = io.connect('http://<%=host%><%=port%>');
        socket.on('news', function () {
            socket.emit('reqNotices',{
                userId: <%=user.id%>
            });	// 로그를 가져옴
            
            socket.on('downNotices', function(data){
                for(var i in data) {
                    if( window.confirm( "알림!: " + data[i].msg ) == true) {
                        socket.emit('readNotice', {
                            msgId: data[i].id,
                            userId: <%= user.id %>
                        });
                    }
                }
            });
        });
    </script>
<% } %>
<style>
    <% include ../style/reset.css %>
</style>
<style>
    <% include ../style/common.css %>
</style>