<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%# = pageTitle %></title>
    <script src="/js/socket.io-1.3.5.js"></script>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <style>
        <% include ../style/reset.css %>
    </style>
    <style>
        <% include ../style/common.css %>
    </style>
</head>