<!DOCTYPE html>
<header>
	<style>
		<% include ../style/header.css %>
	</style>
	<div class="maxWrapper">
		<div id="logoBar">
			<div class="logotype"><a href="/">와동개발자협동조합</a></div>
		</div>
		<% if(login && user.nickname) { %>
			<a href="/user/<%=user.nickname%>">
				<div id='dashboard'>
					<img id='userpic' src='<%= user.picture %>'>
					<div id='usernick' class='black'><%= user.nickname %></div>
				</div>
			</a>
		<% } %>
		</div>
</header>