<div>
	<style>
		@font-face {
			font-family: wedecon;
			src: url('/fonts/wadecon.eot') format('embedded-opentype'),
			url('/fonts/wadecon.woff') format('woff');
		}
		.logotype {
			font-family: wadecon;
			font-size: 5em;
			letter-spacing: -0.09em;
			line-height: 1em;
		}
	</style>
	<div class="logotype">와동개발자협동조합</div>
</div>