<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%# = pageTitle %></title>
    <style>
        <% include ../style/reset.css %>
    </style>
    <style>
        <% include ../style/common.css %>
    </style>
</head>