<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%# = pageTitle %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
        <% include ../style/reset.css %>
    </style>
    <style>
        <% include ../style/common.css %>
    </style>
</head>