<!DOCTYPE html>
<div class="maincon">
	<section id="intro">
		<style>
			<% include ../style/intro.css %>
		</style>
		<h1>개발자 및 문화 창조자들을 위한 <br>지역 커뮤니티 포럼</h1>
		<p>
			이 단체는 매우 찰지다.<br>
			와동 지역은 예로부터 엔지니어의 천국이었다.<br>조선시대에는 기와를 굽던 전문 엔지니어들의 집단 거주지로, 와골이라 불렸다.<br>
			우리는 하이-테크놀로지 시대를 맞아 와동에 제2의 황금기를 불러오기 위해<br>기술 및 문화 프로젝트 생산 협동조합을 만들었다.<br>와동개발자협동조합(wadecon)
			은 자유와 개방을 지향한다.<br><a href='https://github.com/wadecon/wadecon'>GitHub</a>에서 아무나 웹사이트 개발에 참여할 수 있음.
		</p>
		<button id="fb" onclick="location.href='/auth/fb'">로그인</button>
	</section>
</div>