<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <header>
        <% include ./templates/header.ejs %>
    </header>
    <section id="createGroup">
        <form action="/" method="post">
            <div>제목:</div>
            <input type="text" name="group_name">
            <div>목적:</div>
            <input type="text" name="purpose">
            <input type="submit">
        </form>
    </section>
    <section id="openedGroups">
        <!--groups go here-->
        <ul>
            <% for( var i = 0; i < groups.length; i++) { %>
            <li>
                <a href="group/<%=groups[i].Group_name%>"><%= groups[i].Group_name %></a>
                <div><%= groups[i].Purpose %></div>
            </li>
            <% } %>
        </ul>
    </section>
    <section id="joinedGroups">
        <!--user specific group-->
    </section>
    <footer>
        <% include ./templates/footer.ejs %>
    </footer>
</body>
</html>
