<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가입</title>
    <script src="/js/jquery-2.1.4.min.js"></script>
       function register() {
           $.post('/join', {nickname: $('#nameField').val()}, function(data, status) {
               console.log(data, status);
               switch(status) {
                   case 201: {
                       location.href='/';
                       break;
                   }
                   case 409: {
                        $('#status').text("이미 존재하는 닉네임!");
                   }
               }
           });
       }
    </script>
    <% include ./templates/head.ejs %>
</head>
<body>
    <% include ./templates/header.ejs %>
    <section>
        <div><%=name%></div>
        <img src="<%=picture%>" alt="" />
        <input type="text" id="nameField" name="nickname" placeholder="닉네임">
        <button id="register" onClick="register()">가입!</button><br>
        <div id="status"></div>
    <% include ./templates/footer.ejs %>
</body>
</html>
