<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./template/header.ejs %>
  </header>
  
  <section>
    fuck
  </section>
  <footer>
    <% include ./template/footer.ejs %>
  </footer>
</body>
</html>