<!DOCTYPE html>
<head>
    <% include ./templates/head.ejs %>
</head>
<body>
    <% include ./templates/header.ejs %>
    <div class="contentBox maxWrapper">
        <div class="content">
            <% include ./templates/intro.ejs %>
        </div>
    </div>
    <% include ./templates/footer.ejs %>
</body>
</html>
