<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./templates/head.ejs %>
    <style>
        <% include ./style/makework.css %>
    </style>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
    <script src="/js/editor.js"></script>
    <script src="/js/marked.js"></script>
    <script>
        function makePost() {
            $.ajax({
                type: "POST",
                url: '/makework',
                xhrFields: {
                       withCredentials: true
                },
                data: {
                    name: $('#nameField').val(),
                    desc: $('#descField').val(),
                    readme: readmeEditor.codemirror.getValue(),
                    needs: needsEditor.codemirror.getValue()
                },
                success: function(data, status) {
                    console.log(data.code, data.url);
                    switch(data.code) {
                        case 201: {
                            location.href=data.url;
                            break;
                        }
                        case 400: {
                            //미구현
                             break;
                        }
                        case 500: {
                            //미구현
                        }
                    }
                }
            });
        }
    </script>
</head>
<body>
    <% include ./templates/header.ejs %>
    <div class="maxWrapper contentBox">
        <div class="content">
            <div class="maincon">
                <section>
                    <h1>공작을 모의하자</h1>
                    <h2>모든 분야의 프로젝트, 이벤트, 공작, 파괴, 난동</h2>
                    <div class='field'>
                        <span class='black tag'>제목</span>
                        <input type="text" id="nameField" name="name" placeholder="1-64자의 제목" maxLength=64>
                    </div>
                    <div class='field'>
                        <span class='black tag'>한 줄 설명</span>
                        <input type="text" id="descField" name="desc" placeholder="1-141자" maxLength=141>
                    </div>
                    <div class='field'>
                        <span class='black tag'>README.md</span>
                        <div class="editor-wrapper">
                            <textarea id="readme" class="editor" name="readme" rows="8" cols="40"></textarea>
                        </div>
                        <script>
                            var readmeEditor = new Editor({
                                element: document.getElementById('readme')
                            });
                            readmeEditor.render();
                        </script>
                    </div>
                    <div class='field'>
                        <span class='black tag'>이런 사람 와라</span>
                        <div class="editor-wrapper">
                            <textarea id="needs" class="editor" name="readme" rows="8" cols="40"></textarea>
                        </div>
                        <script>
                            var needsEditor = new Editor({
                                element: document.getElementById('needs')
                            });
                            needsEditor.render();
                        </script>
                    </div>
                    <button id="post" onClick="makePost()">등록!</button>
                </section>
            </div>
        </div>
    </div>
    <% include ./templates/footer.ejs %>
</body>
</html>
