<!DOCTYPE html>
<% include ./templates/head.ejs %>
<body>
	<header>
        <% include ./templates/header.ejs %>
    </header>
	<section>
		
	</section>
	<footer>
        <% include ./templates/footer.ejs %>
    </footer>
</body>
</html>