<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<header>
        <% include ./templates/header.ejs %>
    </header>
	<section>
		<%= work.name %>
		<%= work.desc %>
	</section>
	<footer>
        <% include ./templates/footer.ejs %>
    </footer>
</body>
</html>