<% include ./templates/head.ejs %>
<body>
	<header>
        <% include ./templates/header.ejs %>
    </header>
	<section>
		<%= work.name %>
		<%= work.desc %>
	</section>
	<section>
		<!--print group frontpage-->
	</section>
	<section>
		<div>
			<!--group needs-->
		</div>
		<div>
			<!--group participants-->
		</div>
	</section>
	<section>
		<!--print group Q&A-->
	</section>
	<footer>
        <% include ./templates/footer.ejs %>
    </footer>
</body>
</html>