<!DOCTYPE html>
<% include ./templates/head.ejs %>
<body>
	<header>
        <% include ./templates/header.ejs %>
    </header>
	<section>
		<%= work.name %>
		<%= work.desc %>
	</section>
	<section>
		<form action="" id="editFrontpage">
			<textarea name="" id="" cols="30" rows="10"></textarea>	
			<input type="submit">
		</form>
	</section>
	<section>
		<div>
			<form action="" id="editNeeds">
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<input type="submit">
			</form>
		</div>
		<div>
			<!--group participants-->
		</div>
	</section>
	<section>
		<!--print group Q&A-->
	</section>
	<footer>
        <% include ./templates/footer.ejs %>
    </footer>
</body>
</html>